.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.items-center{
    align-items: center;
}

.items-v-center{
    justify-content: center;
}

.flex-between{
    justify-content: space-between;
}

.gap{
    gap: 3rem;
}